# **DATA PREPROCESSING**

In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [50]:
data=pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv')
data.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [3]:
data.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

In [4]:
data = data.rename(columns={'Classes  ': 'Classes'})

In [5]:
data.drop(columns='day',axis=1,inplace=True)
data.drop(columns='month',axis=1,inplace=True)
data.drop(columns='year',axis=1,inplace=True)
data.head()

  Temperature  RH  Ws Rain   FFMC  DMC    DC  ISI  BUI  FWI      Classes
0          29  57  18     0  65.7  3.4   7.6  1.3  3.4  0.5  not fire
1          29  61  13   1.3  64.4  4.1   7.6    1  3.9  0.4  not fire
2          26  82  22  13.1  47.1  2.5   7.1  0.3  2.7  0.1  not fire
3          25  89  13   2.5  28.6  1.3   6.9    0  1.7    0  not fire
4          27  77  16     0  64.8    3  14.2  1.2  3.9  0.5  not fire

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  245 non-null    object
 1    RH          245 non-null    object
 2    Ws          245 non-null    object
 3   Rain         245 non-null    object
 4   FFMC         245 non-null    object
 5   DMC          245 non-null    object
 6   DC           245 non-null    object
 7   ISI          245 non-null    object
 8   BUI          245 non-null    object
 9   FWI          245 non-null    object
 10  Classes      244 non-null    object
dtypes: object(11)
memory usage: 21.3+ KB

In [7]:
uniqueValues = data['Classes'].unique()
print('Unique elements in column "Age" ')
print(uniqueValues)

Unique elements in column "Age"
['not fire   ' 'fire   ' 'fire' 'fire ' 'not fire' 'not fire ' nan
 'Classes  ' 'not fire     ' 'not fire    ']

In [8]:
data['Classes'] = data['Classes'].str.replace('not fire   ', 'not fire')
data['Classes'] = data['Classes'].str.replace('not fire ', 'not fire')
data['Classes'] = data['Classes'].str.replace('not fire     ', 'not fire')
data['Classes'] = data['Classes'].str.replace('not fire    ', 'not fire')
data['Classes'] = data['Classes'].str.replace('not fire ', 'not fire')

data['Classes'] = data['Classes'].str.replace('fire   ', 'fire')
data['Classes'] = data['Classes'].str.replace('fire ', 'fire')

data = data[data.Classes != "Classes  "]

In [9]:
data = data[data['Classes'].notna()]
data

    Temperature  RH  Ws Rain   FFMC  DMC    DC  ISI   BUI  FWI   Classes
0            29  57  18     0  65.7  3.4   7.6  1.3   3.4  0.5  not fire
1            29  61  13   1.3  64.4  4.1   7.6    1   3.9  0.4  not fire
2            26  82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1  not fire
3            25  89  13   2.5  28.6  1.3   6.9    0   1.7    0  not fire
4            27  77  16     0  64.8    3  14.2  1.2   3.9  0.5  not fire
..          ...  ..  ..   ...   ...  ...   ...  ...   ...  ...       ...
241          30  65  14     0  85.4   16  44.5  4.5  16.9  6.5      fire
242          28  87  15   4.4  41.1  6.5     8  0.1   6.2    0  not fire
243          27  87  29   0.5  45.9  3.5   7.9  0.4   3.4  0.2  not fire
244          24  54  18   0.1  79.7  4.3  15.2  1.7   5.1  0.7  not fire
245          24  64  15   0.2  67.3  3.8  16.5  1.2   4.8  0.5  not fire

[243 rows x 11 columns]

In [10]:
uniqueValues = data['Classes'].unique()
print('Unique elements in column "Classes" ')
print(uniqueValues)

Unique elements in column "Classes"
['not fire' 'fire']

In [11]:
from sklearn.preprocessing import LabelEncoder
data['Classes_enc']=LabelEncoder().fit_transform(data[['Classes']])
data

C:\Users\vivien\Anaconda3\envs\myenv\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Classes_enc
0,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1
...,...,...,...,...,...,...,...,...,...,...,...,...
241,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0
242,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1
243,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1
244,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1
245,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1

In [12]:
data.dtypes

Temperature    object
 RH            object
 Ws            object
Rain           object
FFMC           object
DMC            object
DC             object
ISI            object
BUI            object
FWI            object
Classes        object
Classes_enc     int32
dtype: object

## Prepare train and test dataset

In [13]:
#creating our X feature variables and y outcome variable
X = data.drop('Classes',axis=1)
y = data['Classes_enc']

In [14]:
#splitting our data into training and testing data set
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=2)

# **Random Forest Classification**

### train_array(X_train) = train dataset WITHOUT occupancy

### test_array(X_test) = test dataset WITHOUT occupancy
### occlabel_array(y_train) = 'Occupancy' label from train dataset

In [15]:
#Random Forest Classification
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()
clf.fit(X_train,y_train)

RandomForestClassifier()

In [16]:
#To predict occupancy using the test's set features
clf_pred=clf.predict(X_test)
print(clf_pred)

[0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 1 1 1 0 1 0 0 0 1 1
 0 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 1 1 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1
 0 1 0 1 1 1 0]

In [17]:
# Transfer the array of predicted popularity of test data into dataframe
clf_pred_df = pd.DataFrame(data=clf_pred, columns=['Classes_enc'])
clf_pred_df.head(10)

   Classes_enc
0            0
1            1
2            0
3            0
4            0
5            1
6            0
7            1
8            0
9            0

In [18]:
RFprob_each = clf.predict_proba(X_test)
RFprob_each

array([[1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.67, 0.33],
       [0.82, 0.18],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.57, 0.43],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.09, 0.91],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.01, 0.99],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.09, 0.91],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.02, 0.98],
       [0.  , 1.  ],
       [0.89, 0.11],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.87, 0.13],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [1.  , 0.  ],
       [0.  , 1.  ],
       [0.99, 0.01],
       [0.  , 1.  ],
       [0.  , 1.  ],
       [0.09, 0.91],
       [1.  , 0.  ]])

In [19]:
pos_prob = []
for inner in RFprob_each:
    pos_prob.append(inner[1])
pos_prob[0:10]

[0.0, 1.0, 0.0, 0.01, 0.0, 1.0, 0.0, 1.0, 0.33, 0.18]

In [20]:
data.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Classes_enc
0,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1

In [21]:
clf_pred_df

    Classes_enc
0             0
1             1
2             0
3             0
4             0
..          ...
76            0
77            1
78            1
79            1
80            0

[81 rows x 1 columns]

In [22]:
# Insert result into test_wtpopl, check the prediction correctness
data.insert(len(data.columns), 'RForest', clf_pred_df['Classes_enc'])

In [23]:
data

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Classes_enc,RForest
0,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1,0.0
1,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1,1.0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1,0.0
3,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1,0.0
4,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0,NaN
242,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1,NaN
243,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1,NaN
244,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1,NaN
245,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1,NaN

# **Naive Bayes**

In [24]:
from sklearn.naive_bayes import GaussianNB

gaus = GaussianNB()
gaus.fit(X_train, y_train)

GaussianNB()

In [25]:
# To predict popularity using test set's features
NB_pred= gaus.predict(X_test)
print(NB_pred)

[0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 1 1 1 0 1 0 0 0 1 1
 0 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 1 1 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1
 0 1 0 1 1 1 0]

In [26]:
# Transfer the array of predicted popularity of test data into dataframe
NB_pred_df = pd.DataFrame(data=NB_pred, columns=['Classes_enc'])
NB_pred_df.head(10)

   Classes_enc
0            0
1            1
2            0
3            0
4            0
5            1
6            0
7            1
8            0
9            0

In [27]:
NBprob_each = gaus.predict_proba(X_test)
NBprob_each

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [28]:
pos_prob = []
for inner in NBprob_each:
    pos_prob.append(inner[1])
pos_prob[0:10]

[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0]

In [29]:
# Insert result into test_wtpopl, check the prediction correctness
data.insert(len(data.columns), 'NBGaus', NB_pred_df['Classes_enc'])

In [30]:
data.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Classes_enc,RForest,NBGaus
0,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1,0.0,0.0
1,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1,1.0,1.0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1,0.0,0.0
3,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1,0.0,0.0
4,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1,0.0,0.0

# **KNN Classification**

In [31]:
from sklearn.neighbors import KNeighborsClassifier 

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [32]:
# To predict popularity using test set's features
KNN_pred= knn.predict(X_test)
print(KNN_pred)

[0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 1 1 1 0 1 0 0 0 1 1
 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 1 1 0 1 1 1 1 1 0 0 0 1 0 0 0 0 1
 0 0 0 1 1 0 0]

In [33]:
# Transfer the array of predicted popularity of test data into dataframe
KNpredct_df = pd.DataFrame(data=KNN_pred, columns=['Classes_enc'])
KNpredct_df.head(10)

   Classes_enc
0            0
1            0
2            0
3            0
4            0
5            1
6            0
7            0
8            1
9            1

In [34]:
KNprob_each = knn.predict_proba(X_test)
KNprob_each

array([[0.85714286, 0.14285714],
       [0.71428571, 0.28571429],
       [1.        , 0.        ],
       [0.85714286, 0.14285714],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.57142857, 0.42857143],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.85714286, 0.14285714],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.14285714, 0.85714286],
       [1.        , 0.        ],
       [0.71428571, 0.28571429],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.71428571, 0.28571429],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.85714286, 0.14285714],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.71428571, 0.28571429],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.85714286, 0.14285714],
       [0.85714286, 0.14285714],
       [0.85714286, 0.14285714],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.71428571, 0.28571429],
       [0.57142857, 0.42857143],
       [0.        , 1.        ],
       [0.71428571, 0.28571429],
       [1.        , 0.        ],
       [0.85714286, 0.14285714],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.14285714, 0.85714286],
       [0.        , 1.        ],
       [0.57142857, 0.42857143],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.85714286, 0.14285714],
       [0.28571429, 0.71428571],
       [0.85714286, 0.14285714],
       [0.57142857, 0.42857143],
       [1.        , 0.        ],
       [0.57142857, 0.42857143],
       [0.14285714, 0.85714286],
       [0.85714286, 0.14285714],
       [0.57142857, 0.42857143],
       [0.85714286, 0.14285714],
       [0.        , 1.        ],
       [0.28571429, 0.71428571],
       [0.85714286, 0.14285714],
       [1.        , 0.        ]])

In [35]:
pos_prob = []
for inner in KNprob_each:
    pos_prob.append(inner[1])
pos_prob[0:10]

[0.14285714285714285,
 0.2857142857142857,
 0.0,
 0.14285714285714285,
 0.0,
 1.0,
 0.0,
 0.42857142857142855,
 1.0,
 1.0]

In [36]:
# Insert result into test_wtpopl, check the prediction correctness
data.insert(len(data.columns), 'KNeigh', KNpredct_df['Classes_enc'])

In [37]:
data

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Classes_enc,RForest,NBGaus,KNeigh
0,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1,0.0,0.0,0.0
1,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1,1.0,1.0,0.0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1,0.0,0.0,0.0
3,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1,0.0,0.0,0.0
4,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0,NaN,NaN,NaN
242,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1,NaN,NaN,NaN
243,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1,NaN,NaN,NaN
244,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1,NaN,NaN,NaN
245,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1,NaN,NaN,NaN

# **Decision Tree**

In [38]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [39]:
#To predict occupancy using the test's set features
model_pred=model.predict(X_test)
print(model_pred)

[0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 1 1 1 0 1 0 0 0 1 1
 0 1 0 1 0 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 1 1 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1
 0 1 0 1 1 1 0]

In [40]:
# Transfer the array of predicted popularity of test data into dataframe
model_pred_df = pd.DataFrame(data=model_pred, columns=['Classes_enc'])
model_pred_df.head(10)

   Classes_enc
0            0
1            1
2            0
3            0
4            0
5            1
6            0
7            1
8            0
9            0

In [41]:
DTprob_each = model.predict_proba(X_test)
DTprob_each

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [42]:
pos_prob = []
for inner in DTprob_each:
    pos_prob.append(inner[1])
pos_prob[0:10]

[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0]

In [43]:
# Insert result into test_wtpopl, check the prediction correctness
data.insert(len(data.columns), 'DecisionT', clf_pred_df['Classes_enc'])

In [44]:
data

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Classes_enc,RForest,NBGaus,KNeigh,DecisionT
0,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1,0.0,0.0,0.0,0.0
1,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1,1.0,1.0,0.0,1.0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1,0.0,0.0,0.0,0.0
3,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1,0.0,0.0,0.0,0.0
4,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,0,NaN,NaN,NaN,NaN
242,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,1,NaN,NaN,NaN,NaN
243,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,1,NaN,NaN,NaN,NaN
244,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,1,NaN,NaN,NaN,NaN
245,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,1,NaN,NaN,NaN,NaN

# **Evaluation of Accuracy Score for Classifiers**

## Random Forest Scores

In [45]:
from sklearn.metrics import accuracy_score

ac=accuracy_score(y_test,clf_pred)
print(ac)

1.0

## Naive Bayes Scores

In [46]:
from sklearn.metrics import accuracy_score

ac=accuracy_score(y_test,NB_pred)
#y_true = test_df_occ['Occupancy']
#y_true.head()
print(ac)

1.0

## KNN Scores

In [47]:
from sklearn.metrics import accuracy_score

ac=accuracy_score(y_test,KNN_pred)
#y_true = test_df_occ['Occupancy']
#y_true.head()
print(ac)

0.8765432098765432

## Decision Tree Scores

In [48]:
from sklearn.metrics import accuracy_score

ac=accuracy_score(y_test,model_pred)
#y_true = test_df_occ['Occupancy']
#y_true.head()
print(ac)

1.0