In [10]:
import pandas as pd
import numpy as np
from sklearn import tree

In [3]:
#Read in txt file of training and testing record
train_df_occ = pd.read_csv("train_df_occ.csv")
test_df_occ = pd.read_csv("test_df_occ.csv")

test_df = pd.read_csv("test_df.csv")

#View briefly train dataset
train_df_occ.head()

   Temperature   Humidity  Light          CO2  HumidityRatio  Occupancy
0        19.39  25.890000    0.0   471.000000       0.003599          0
1        20.50  33.500000    0.0   645.000000       0.005000          0
2        20.20  19.100000    0.0   447.000000       0.002789          0
3        21.29  33.145000  464.0  1421.750000       0.005195          1
4        20.50  31.163333  441.0   970.333333       0.004649          1

In [4]:
test_df_occ.head()

   Temperature  Humidity       Light          CO2  HumidityRatio  Occupancy
0       20.718    25.100    0.000000   512.400000       0.003790          0
1       21.000    23.290    0.000000   509.333333       0.003577          0
2       21.600    28.390    0.000000   895.000000       0.004530          0
3       23.000    26.200  651.666667  1006.166667       0.004553          1
4       22.390    24.912  418.600000   782.800000       0.004169          1

In [5]:
# Extract label class occupancy from training set
occlabel_df = train_df_occ['Occupancy']
occlabel_df.head()

0    0
1    0
2    0
3    1
4    1
Name: Occupancy, dtype: int64

In [6]:
# Remove label class from training set
train_df = train_df_occ.drop(columns=['Occupancy'])
train_df.head()

   Temperature   Humidity  Light          CO2  HumidityRatio
0        19.39  25.890000    0.0   471.000000       0.003599
1        20.50  33.500000    0.0   645.000000       0.005000
2        20.20  19.100000    0.0   447.000000       0.002789
3        21.29  33.145000  464.0  1421.750000       0.005195
4        20.50  31.163333  441.0   970.333333       0.004649

In [7]:
test_df.head()

   Temperature  Humidity       Light          CO2  HumidityRatio
0       20.718    25.100    0.000000   512.400000       0.003790
1       21.000    23.290    0.000000   509.333333       0.003577
2       21.600    28.390    0.000000   895.000000       0.004530
3       23.000    26.200  651.666667  1006.166667       0.004553
4       22.390    24.912  418.600000   782.800000       0.004169

In [12]:
# Transfer type of ddtaframe to numpy array for training and test sets and label set
train_array = np.array(train_df)
print(train_array[0:5])
test_array = np.array(test_df)
print(test_array[0:5])
occlabel_array = np.array(occlabel_df)
print(occlabel_array[0:5])

[[1.93900000e+01 2.58900000e+01 0.00000000e+00 4.71000000e+02
  3.59944168e-03]
 [2.05000000e+01 3.35000000e+01 0.00000000e+00 6.45000000e+02
  5.00026877e-03]
 [2.02000000e+01 1.91000000e+01 0.00000000e+00 4.47000000e+02
  2.78867884e-03]
 [2.12900000e+01 3.31450000e+01 4.64000000e+02 1.42175000e+03
  5.19526883e-03]
 [2.05000000e+01 3.11633333e+01 4.41000000e+02 9.70333333e+02
  4.64888703e-03]]
[[2.07180000e+01 2.51000000e+01 0.00000000e+00 5.12400000e+02
  3.78983396e-03]
 [2.10000000e+01 2.32900000e+01 0.00000000e+00 5.09333333e+02
  3.57688025e-03]
 [2.16000000e+01 2.83900000e+01 0.00000000e+00 8.95000000e+02
  4.53045755e-03]
 [2.30000000e+01 2.62000000e+01 6.51666667e+02 1.00616667e+03
  4.55297916e-03]
 [2.23900000e+01 2.49120000e+01 4.18600000e+02 7.82800000e+02
  4.16930286e-03]]
hi
[0 0 0 1 1]

# Decision Tree Classifier

In [13]:
model = tree.DecisionTreeClassifier()
model.fit(train_array,occlabel_array)

DecisionTreeClassifier()

In [14]:
model.score(train_array,occlabel_array)

1.0

In [17]:
y_pred = model.predict(test_array)
y_test = test_df_occ['Occupancy']

In [18]:
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 0.9204502814258911